
@{

    ViewData["Title"] = "Radio Station";
}

<h1>@ViewData["Estacion de Radio"]</h1>

<p>Aqui en la estacion de radio...</p>


<iframe src="https://a1.asurahosting.com/public/chubbyteststation/embed?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 150px; border: 0;"></iframe>